{{page-title "Ember Kanban"}}

<div id="global-container">
  <header>
    <h1>Ember Kanban App</h1>
    <hr/>
  </header>

  <main>
    {{outlet}}
  </main>

  <footer>
    <hr/>
    <h3>A Kanban App by Richard</h3>
  </footer>
</div>
